<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="FirstTestSuite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="stage.nur.base.TestListener"></listener>
    </listeners>
    <test name="LogInTest-FF">
        <parameter name="browser"  value="firefox"/>
        <groups>
            <run>
                <include name="positive"></include>
                <include name="negative"></include>
            </run>
        </groups>
        <classes>
            <class name="stage.nur.LogInTest">
            </class>
        </classes>
    </test>
    <test name="LogInTest-CH">
        <parameter name="browser"  value="chrome"/>
        <groups>
            <run>
                <exclude name="positive"></exclude>
                <exclude name="negative"></exclude>
            </run>
        </groups>
        <classes>
            <class name="stage.nur.LogInTest">
            </class>
        </classes>
    </test>

</suite>
